/* INDEX */
*{
    margin:0;
    padding:0;
}
body{
    position:absolute;
    left:5%;
    right:5%;
    background-color: #0e534a;
}
.wrapper{
    background-color: #ffffff;
    box-shadow: 0px 6px 54px 10px rgba(0,0,0,0.52);
    display: flex;
    flex-direction: column;
}

    /* BURGER */

.burger{
    position: fixed;
    width:25px;
    height: 20px;
    top: 25px;
    right:20px;
    z-index: 99;
    transition: ease-in-out .5s;
}
.burger span{
    position: absolute;
    background-color:  #000000;
    width:100%;
    height:4px;
    transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;
}
.burger.active{
    transform: rotate(-90deg);
}
.burger span:nth-of-type(1){
    top:0;
}
.burger.active span:nth-of-type(1){
    top:calc(50% - 2px);
    transform: rotate(45deg);
}
.burger span:nth-of-type(2){
    top: calc(50% - 2.5px);
}
.burger.active span:nth-of-type(2){
   opacity:0;
}
.burger span:nth-of-type(3){
    bottom:0;
}
.burger.active span:nth-of-type(3){
    bottom:calc(50% - 2px);
    transform: rotate(-45deg);
}

    /* NAVIGATION */

.navigation{
    position: fixed;
    font-family: 'Lato', sans-serif;
    top:-400px;
    width:90%;
    transition: ease-in 0.5s;
    z-index: 98;
    box-shadow: 0px 6px 80px 0px rgba(0,0,0,0.52);
}
.navigation.active{
    top:0;
}
.navigation ul{
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
}

.navigation ul li{
    width:100%; /*desktop 20% */

}
.navigation ul li > ul{
    display: none;
    flex-direction: column;
}
.navigation ul li > ul li{
    width: 100%;
}
.navigation ul li:hover > ul{
    display: flex;
}
.navigation a{
    text-transform: uppercase;
    display: block;
    background-color: #a5c4c0;
    padding:15px;
    font-size: 20px;
    font-weight:700;
    color: #052e29;
    text-decoration: none;
    text-align: center;
    transition: 0.5s ease;
}
.navigation a:hover{
    background-color: #467070;
    transition: 0.5s ease;
}

.navigation .dropdown li > a{
    background-color: #395c5c;
    color: floralwhite;
    transition: all 0.5s ease;
}
.navigation .dropdown li > a:hover {
    background-color: cadetblue;
}
nav li:hover{
    background-color:#296868;
}
nav a:hover{
    color:#e3e3e3;
}
@media(min-width:411px) and (orientation:portrait){
    .burger{
        right:25px;
    }
    nav a{
        font-size: 25px;
    }
}
@media(min-width:768px) and (orientation:portrait){
    body{
        left:8%;
        right:8%;
    }
    .navigation{
        width:84%;
    }
    .burger{
        width:35px;
        height: 30px;
        right:75px;
        top:15px;
    }
    .burger span{
        height: 4px;
    }
}
@media(min-width:533px) and (orientation:landscape){
    .burger{
        top:15px;
        right:35px;
    }
}
@media(min-width:731px) and (orientation:landscape){
    .burger{
        top:20px;
        right:45px;
    }
}
@media(min-width:1024px) and (orientation:landscape){
    body{
        left:15%;
        right:15%;
    }
    .burger{
        display:none;
    }
    .navigation{
        width:70%;
        top:0;
        box-shadow: none;
    }
    .navigation ul li{
        width:20%;
    }
    .navigation a{
        font-size: 16px;
    }
}
@media(min-width:1024px){
    body{
        left:15%;
        right:15%;
    }
    .burger{
        display:none;
    }
    .navigation{
        width:70%;
        box-shadow: none;;
    }
    .navigation ul li{
        width:20%;
    }
    .navigation a{
        font-size: 18px;
    }
}
@media(min-width:1240px){
   body{
       left:20%;
       right:20%;
   }
    .navigation{
        width:60%;
    }
}
    /* HEADER */

header{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;
}
header .logo{
    position: relative;
}
header .logo img{
    position: relative;
    width:60%;
    left:5px;
}

header h1{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    color: #052e29;
    background-color:#a5c4c0 ;
}

header .owner{
    display:flex;
    flex-direction: row;
    padding:10px 0;
}
header .owner .owner-photo{
    position: relative;
    margin: 10px 10px 10px 25px;
    /* background-color: green; */
    flex-basis:30%;
}
header .owner img{
    width:100%;
}
header .owner-info{
    position: relative;
    top: 15px;
    margin-left: 10px;
    /* background-color: gray; */
    font-family:'Lato', sans-serif;
    line-height: 25px;
}
header .owner-info h2{
    font-size: 16px;
}
header .owner-info h3{
    display:none;
}
@media(min-width:533px) and (orientation:landscape){
    header{
        flex-direction: row;
        top:5px;
    }
    header .logo{
        flex-basis: 40%;
   }
    header .logo img{
        top: 25px;
        width:100%;
    }
    header h1{
        display:none;
    }
    header .owner{
        position: relative;
        display:flex;
        flex-basis: 50%;
        flex-direction: row-reverse;
        top: 20px;
    }
    header .owner-photo{
        flex-basis: 50%;
    }
    header .owner img{
        width:100%;
        right:0;
        margin-left: 30px;
    } 
    header .owner-info{
        top:10px;
        text-align: right;
        margin-right: -35px;
    }
    header .owner-info h2{
        font-size: 18px;
    }
}
@media(min-width:731px) and (orientation: landscape){
    header{
        top: 25px;
    }
     header .logo img{
         top: 20px;
         width:100%;
     }
     header .owner-info{
         top:25px;
     }
}
@media(min-width:411px) and (orientation:portrait){
    header .owner-info{
        top: 35px;
    }
    header .owner-info h2{
        font-size: 20px;
    }
}
@media(min-width:768px) and (orientation:portrait){
   header{
       top: 25px;
       flex-direction: row;
   }
   header .logo{
        flex-basis: 50%;
   }
   header h1{
       display:none;
   }
    header .logo img{
        width:100%;
    }
    header .owner{
        position: relative;
        display:flex;
        flex-basis: 50%;
        flex-direction: row-reverse;
        top: 20px;
    }
    header .owner-photo{
        flex-basis: 50%;
    }
    header .owner img{
        width:100%;
    } 
    header .owner-info{
        flex-basis: 50%;
        text-align: right;
        top:25px;
    }

} 
@media(min-width:1024px){
    header{
        top: 45px;
        flex-direction: row;
    }
    header .logo{
         flex-basis: 40%;
    }
    header h1{
        display:none;
    }
     header .logo img{
         top: 20px;
         left: 15px;
         width:100%;
     }
     header .owner{
         position: relative;
         display:flex;
         flex-basis: 50%;
         flex-direction: row-reverse;
         top: 20px;
     }
     header .owner-photo{
         flex-basis: 50%;
     }
     header .owner img{
         width:100%;
         
     } 
     header .owner-info{
         flex-basis: 50%;
         text-align: right;
         top:25px;
     }
     header .owner-info h3{
        display: block;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 10px;
    }
}
@media(min-width:1440px){
    header .logo img{
        top: 30px;
        left: 45px;
        width:80%;
    }
    header .owner img{
        width:90%;
        margin-left: 100px;
    } 
    header .owner-info{
        margin-right: -105px;
    }
   
}
@media(min-width:1750px){
   
     header .owner-info h2{
         font-size: 23px;
         margin-bottom: 10px;
     }
   
}

    /* CALL US */

.call-us{
    padding:10px 0;
    background-color: #a5c4c0;
    margin-top: 20px;
}

.call-us p{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: #052e29;
    font-weight: 700;
}

.call-us a{
    text-decoration: none;
    color:#415a57;
    cursor: pointer;
}
@media(min-width:533px) and (orientation:landscape){
    .call-us{
        display: flex;
        flex-direction: row;
    }
    .call-us p{
        position: relative;
        left: calc(50% - 35%);
    }
}
@media(min-width:667px) and (orientation:landscape){
    .call-us p{
        left: calc(50% - 30%);
    }
}
@media(min-width:731px) and (orientation: landscape){
    .call-us{
        position: relative;
        top: 35px;
    }
    .call-us p{
        font-size: 23px;
        left: calc(50% - 30%);
    }
}
@media(min-width:768px) and (orientation:portrait){
    .call-us{
        position: relative;
        top: 10px;
    }
    .call-us p{
        font-size: 23px;
    }
}
@media(min-width:1024px){
    .call-us{
        position: relative;
        display: flex;
        flex-direction: row;
        top:75px;
    }

    .call-us p{
        position: relative;
        left: calc(50% - 25%);
    }
}

@media(min-width:1440px){
    .call-us{
        top:40px;
    }
    .call-us p{
        font-size: 28px;
        line-height: 45px;
        left: calc(50% - 20%);
    }
}

        /* WELCOME */

.welcome{
    display: flex;
    flex-direction: column;
}

.welcome .welcome-photo img{
    width:80%;
    margin-left: calc(50% - 40%);
    margin-top: 20px;
    margin-bottom: 10px;
}

.welcome .welcome-desc{
    font-family:'Lato', sans-serif;
    line-height: 28px;
    text-align: center;
    padding: 10px 10px;
}

.welcome-desc h1{
    padding-bottom: 10px;
    line-height: 35px;
}
@media(min-width:667px) and (orientation: landscape){
    .welcome .welcome-photo img{
        width:60%;
        margin-left: calc(50% - 30%);
    }
    .welcome-desc p{
        margin: 0 15%;
    }
}
@media(min-width:731px) and (orientation: landscape){
    .welcome .welcome-photo img{
        width:50%;
        margin-left: calc(50% - 25%);
        margin-top: 60px;
    }
}
@media(min-width:768px) and (orientation:portrait){
    .welcome{
        flex-direction: row;
    }
    .welcome-photo{
        flex-basis: 50%;
    }
    .welcome .welcome-photo img{
        margin-top: 70px;
    }
    .welcome-desc{
        flex-basis: 50%;
        margin:30px 10px;
    }
}
@media(min-width:1024px){
    .welcome{
        flex-direction: row;
    }
    .welcome-photo{
        flex-basis: 50%;
    }
    .welcome .welcome-photo img{
        margin-top: 40%;
        width:80%;
        margin-left:40px;
    }
    .welcome-desc{
        flex-basis: 50%;
        margin-top:100px;
    }
    .welcome-desc h1{
        margin-right:40px;
        font-size: 20px;
    }
    .welcome-desc p{
        margin-left:20px;
    }
}
@media(min-width:1088px){
    .welcome .welcome-photo img{
        margin-top: 30%;
        width:70%;
        margin-left:70px;
    }
}
@media(min-width:1440px){
    .welcome .welcome-photo img{
        margin-top: 20%;
        width:70%;
        margin-left:70px;
    }
    .welcome-desc h1{
        font-size: 23px;
    }
}
@media(min-width:1560px){
    .welcome .welcome-photo img{
        margin-top: 22%;
    }
    .welcome-desc {
       margin-right: 2%;
       margin-top: 120px;
    }
    .welcome-desc p{
        font-size: 20px;
    }
}
@media(min-width:1700px){
    .welcome .welcome-photo img{
        margin-left: 100px;
    }
    .welcome-desc {
       margin-top: 160px;
    }
}
/* HR */



hr{
    position: relative;
    left: 15px;
    width:90%;
    background-color:#e3e3e3;
    height: 3px;
    border:none;
    border-radius: 10px;
    margin: 35px 0;
}

@media(min-width:533px) and (orientation:landscape){
    hr{
        left: 25px;
    }
}
@media(min-width:731px) and (orientation:landscape){
    hr{
        left: 35px;
    }
}
@media(min-width:768px) and (orientation:portrait){
    hr{
        left: 35px;
    }
}
@media(min-width:1600px){
    hr{
        left: 55px;
    }
}




/* ICONS */

.icons{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
}

.icons .heart{
    display: flex;
    flex-direction: column; 
}

.heart-img img{
    position: relative;
    width:30%;
    left: calc(50% - 15%);
}

.icons .phone{
    display: flex;
    flex-direction: column;
}

.phone-img img{
    position: relative;
    width:30%;
    left: calc(50% - 15%);
}

.icons .activities{
    display: flex;
    flex-direction: column;
}

.activities-img img{
    position: relative;
    width:30%;
    left: calc(50% - 15%);
}

.icons .info h3{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0;
}

.icons .info p{
    text-align: center;
    line-height: 25px;
    margin: 0 20px 50px 20px;
}

@media(min-width:533px) and (orientation:landscape){
    .heart-img img{
        width:20%;
        left: calc(50% - 10%);
    }
    .phone-img img{
        width:20%;
        left: calc(50% - 10%);
    }
    .activities-img img{
        width:20%;
        left: calc(50% - 10%);
        margin-bottom: 10px;
    }
    .icons .info p{
        font-size: 18px;
        margin: 0 40px 50px 40px;
    }
}
@media(min-width:731px) and (orientation:landscape){
    .heart-img img{
        width:10%;
        left: calc(50% - 5%);
    }
    .phone-img img{
        width:10%;
        left: calc(50% - 5%);
    }
    .activities-img img{
        width:10%;
        left: calc(50% - 5%);
    }
    .icons .info p{
        margin: 0 100px 50px 100px;
    }
}
@media(min-width:411px) and (orientation:portrait){
    .icons .info p{
        font-size: 18px;
    }
}
@media(min-width:768px) and (orientation:portrait){
    .heart-img img{
        width:10%;
        left: calc(50% - 5%);
    }
    .phone-img img{
        width:10%;
        left: calc(50% - 5%);
    }
    .activities-img img{
        width:10%;
        left: calc(50% - 5%);
    }
    .icons .info p{
        margin: 0 100px 50px 100px;
    }
}
@media(min-width:1024px){
    .icons{
        flex-direction: row;
        align-items:baseline;
        margin: 15px 10px 0 10px;
    }
    .icons .heart{
        flex-basis: 33.3%;
    }
    .heart-img img{
        width:35%;
        left: calc(50% - 17.5%);
    }
    .icons .phone{
        flex-basis: 33.3%;
    }
    .phone-img img{
        width:30%;
        left: calc(50% - 15%);
    }
    .icons .activities{
        flex-basis: 33.3%;
    }
    .activities-img img{
        width:30%;
        left: calc(50% - 15%);
    }
    .icons .info p{
     font-size: 16px;
     margin: 0 10px 50px 10px;
    }
}
@media(min-width:1600px){
    .heart-img img{
        width:30%;
        left: calc(50% - 15%);
    }
    .phone-img img{
        width:25%;
        left: calc(50% - 12.5%);
    }
    .activities-img img{
        width:25%;
        left: calc(50% - 12.5%);
    }
    .icons .info h3{
        font-size: 23px;
    }
    .icons .info p{
        font-size: 20px;
        line-height:30px;
        margin: 0 20px;
    }
}

/* FOOTER */

footer{
    background-color: #a5c4c0;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: #052e29;
    padding:20px 20px;
    line-height: 25px;
}
footer .agency{
    padding-bottom: 10px;
}
footer .agency-footer{
    display:flex;
    flex-direction: column;
}
footer .socialmedia{
    padding:10px 0;
}
footer .socialmedia p{
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
}
footer .socialmedia i{
    font-size: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
    transition: 0.5s ease-in-out;
}
footer .socialmedia i:hover{
    color: #779e9e;
    cursor: pointer;
}

footer .call-footer{
    text-transform: uppercase;
    font-weight: 700;
    font-size:20px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    line-height: 30px;
}
footer .author a{
    color: #415a57;
    text-decoration: none;
    font-weight: 700;
}

@media(min-width:768px) and (orientation:portrait){
    footer .socialmedia p{
        font-size: 20px;
    }
    footer .socialmedia i{
        font-size: 35px;
    }
    footer .call-footer{
        font-size:25px;
    }
}
@media(min-width:1024px){
    footer .agency-footer{
        flex-direction: row;
        align-items:baseline;
        justify-content: space-around;
    }
    footer .agency{
        flex-basis:33%;
    }
    footer .socialmedia{
        flex-basis:33%;
        text-align: center;
    }
    footer .call-footer{
        flex-basis:33%;
    }
}

/* RECOMMENDATIONS */

.rec{
    display: flex;
    flex-direction: column;
    margin: 20px 15px;
    font-family: 'Lato', sans-serif;
    line-height: 25px;
}
.rec h2{
    line-height: 35px;
    margin-bottom: 30px;
}
.rec .quote{
    margin-bottom: 10px;
}
.rec .quote .q-contener{
    border: 1px solid #e3e3e3;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #e3e3e3;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.32);
}
.rec .quote q{
    font-size: 16px;
    font-style: italic;
    /* border: 1px solid #e3e3e3; */
    
    
}
.rec .quote p{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color:#0e534a;
    
}

@media(min-width:731px) and (orientation:landscape){
    .rec{
        margin: 60px 40px 10px 40px;
    }
}
@media(min-width:768px) and (orientation:portrait){
    .rec{
        margin: 40px 40px 10px 40px;
    }
}
@media(min-width:1024px){
    .rec{
        margin: 100px 60px 10px 60px;
    }
}
@media(min-width:1440px){
    .rec{
        margin: 70px 70px 10px 70px;
    }
}


/* DUTIES */
.duties {
    font-family: 'Lato', sans-serif;
    line-height: 25px;
    margin: 20px 10px;
}
.duties article h1{
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 20px;
}
.duties article ul{
    list-style: none;
}
.duties article ul li{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color:#0e534a;
}
.duties article ul li ul li{
    text-transform: none;
    margin: 10px 15px;
    font-weight: 500;
    font-size: 16px;
    color:#000;
}
.duties .duties-photos{
    display: flex;
    flex-direction: column;
}
.duties .duties-photo1 img, 
.duties .duties-photo2 img, 
.duties .duties-photo3 img{
    width:90%;
    margin-top:10px;
    margin-left: calc(50% - 45%);
}

@media(min-width:533px) and (orientation:landscape){
    .duties .duties-photo1 img, 
    .duties .duties-photo2 img, 
    .duties .duties-photo3 img{
        width:70%;
        margin-top:10px;
        margin-left: calc(50% - 35%);
    }
}
@media(min-width:731px) and (orientation:landscape){
    .duties{
        margin-top:60px;
        margin-left: 40px;
    }
}
@media(min-width:1024px){
    .duties{
        margin-top:100px;
        margin-left: 40px;
    }
    .duties .duties-photos{
        flex-direction: row;
        justify-content: space-around;
    }

    .duties .duties-photo1,
    .duties .duties-photo2,
    .duties .duties-photo3{
        flex-basis: 33%;
        margin-top:20px;
    }
    
    .duties .duties-photo1 img, 
    .duties .duties-photo2 img, 
    .duties .duties-photo3 img{
        width:90%;
        margin:0;
    }
}
@media(min-width:1210px){
    .duties{
        display: flex;
    }
    .duties .duties-photos{
        flex-direction: column;
        justify-content: space-around;
        margin-left: calc( 50% - 35%);
    }
   
    .duties .duties-photo1 img, 
    .duties .duties-photo2 img, 
    .duties .duties-photo3 img{
        width:80%;
    }
    .duties article ul li ul li{
       margin-bottom: 45px;
       font-size: 18px;
    }
}



/* ABOUT US */

.about-us{
    display: flex;
    flex-direction: column;
    font-family: 'Lato',sans-serif;
}
.about-us .about-photo{
    margin: 20px 20px;
}
.about-us .about-photo img{
    width:100%;
}
.about-us .about-info{
    font-size: 18px;
    line-height: 28px;
    margin: 0 15px 20px 15px;
}
.about-us .office-hours h2{
    color:#0e534a;
    margin-left: 20px;
}
.about-us .table-office{
    position: relative;
    margin-top:20px;
    margin-bottom: 20px;
    left: calc(50% - 40%);
}
.about-us table{
    width: 80%;
    background-color: #438077;
    color:#e3e3e3;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.32);
}
.about-us table tr{
    border-bottom: 1px dotted #858585;
}
.about-us table th{
    text-align: center;
    padding: 10px 15px;
    
}





/* FOR CLIENTS */


/* CONTACT */
.contact {
    display: flex;
    flex-direction: column;
}
.contact .contact-title{
    margin: 20px 10px;
}
.contact .contact-title p{
    font-family: 'Lato',sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
form{
    margin: 30px 20px 20px 20px ;
    transition: all 4s ease-in-out;
    background-color:#a5c4c0;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 17px -5px rgba(0,0,0,0.77);
}

.form-control{
    width:100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom:  1px solid gray;
    font-size: 18px;
    margin-bottom: 16px;
}

input{
    height: 45px;
}

form .submit{
    background-color: #567e78;
    border-color: transparent;
    color:#e3e3e3;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form.submit:hover{
    cursor: pointer;
    background-color: teal;
}

@media(min-width:533px) and (orientation:landscape){
    form{
        margin: 30px 50px 20px 50px;
    }
}
@media(min-width:731px) and (orientation:landscape){
    .contact .contact-title{
        margin: 60px 30px 10px 30px;
    }
    .contact .contact-title p{
        font-size: 20px;
        line-height: 30px;
    }
    form{
        margin: 30px 100px 40px 100px ;
    }
}
@media(min-width:768px) and (orientation:portrait){
    .contact .contact-title{
        margin: 60px 30px 10px 30px;
    }
    .contact .contact-title p{
        font-size: 20px;
        line-height: 30px;
    }
    form{
        margin: 30px 100px 40px 100px ;
    }
}
@media(min-width:1024px){
    
    .contact .contact-title{
        margin: 100px 10px 10px 30px;
    }
}
@media(min-width:1500px){
     .contact {
        flex-direction: row;
    }
    .contact .contact-title{
        flex-basis: 50%;
        margin: 100px 10px 10px 30px;
    }
    .contact .contact-title p{
        text-align: left;
        font-size: 20px;
    }
    .contact .contact-form{
        flex-basis: 50%;
    }
    form{
        margin: 70px 50px 40px 40px ;
    } 
}
@media(min-width:1900px){
    .contact .contact-title{
        margin: 100px 10px 30px 30px;
    }
    .contact .contact-title p{
        font-size: 23px;
        line-height: 38px;
    }
}


        /* MAP */

#map {
    text-align: center;
}
#map .map-find{
    font-family: 'Lato',sans-serif;
    line-height: 25px;
    margin-bottom: 20px;
    font-size: 23px;
    color: #415a57;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
#map iframe{
    width: 280px;
    height: 250px;
    margin-bottom: 50px;
}
@media(min-width:731px) and (orientation:landscape){
    #map .map-find{
        margin-bottom: 40px;
        font-size: 30px;
    }
    #map iframe{
        width: 450px;
        height: 350px;
    }
}
@media(min-width:768px) and (orientation:portrait){
    #map .map-find{
        margin-bottom: 40px;
        font-size: 30px;
    }
    #map iframe{
        width: 450px;
        height: 350px;
    }
}